/*
# -*- Mode: Java; tab-width: 2; indent-tabs-mode: nil; c-basic-offset: 4 -*-
# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.
*/

/* Global Styles */

radio[pane=paneGeneral] {
  list-style-image: url("chrome://messenger/skin/preferences/general.png");
}
radio[pane=paneDisplay] {
  list-style-image: url("chrome://messenger/skin/preferences/display.png");
}
radio[pane=paneCompose] {
  list-style-image: url("chrome://messenger/skin/preferences/composition.png");
}
radio[pane=paneSecurity] {
  list-style-image: url("chrome://messenger/skin/preferences/security.png");
}
radio[pane=paneApplications] {
  list-style-image: url("chrome://messenger/skin/preferences/attachments.png");
}
radio[pane=paneAdvanced] {
  list-style-image: url("chrome://messenger/skin/preferences/advanced.png");
}

/* Attachments Pane */
#MailPreferences[animated="true"] #handlersView {
  height: 25em;
}

#MailPreferences[animated="false"] #handlersView {
  -moz-box-flex: 1;
}

/* Modeless Window Dialogs */
.windowDialog,
.windowDialog prefpane {
  padding: 0px;
}

.contentPane {
  margin: 9px 8px 5px;
}

.actionButtons {
  margin: 0px 3px 6px !important;
}

/* override the color style for tag items when they 
   have selection */
#tagList listitem[selected="true"] {
  color: -moz-DialogText !important;
}

#tagList:focus > listitem[selected="true"] {
  color: HighlightText !important;
}

/* Quota meter in Folder Properties */

#quotaPercentageBar {
  -moz-appearance: none;
  border: 1px solid ThreeDShadow;
}

#quotaPercentageBar > .progress-bar {
  -moz-appearance: none;
  background-color: #88AAFF;
  opacity: .5;
}
