/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

body.verbose {
  /* override setting in about.css */
  max-width: 100% !important;
}

body.non-verbose pre.tree {
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.sectionHeader {
  background: #ddd;
  padding-left: .1em;
}

.accuracyWarning {
  color: #f00;
}

.treeLine {
  color: #888;
}

.mrValue {
  font-weight: bold;
  color: #400;
}

.mrName {
  color: #004;
}

.mrNote {
  color: #604;
}

.hasKids {
  cursor: pointer;
}

.hasKids:hover {
  text-decoration: underline;
}

.option {
  font-size: 80%;
  -moz-user-select: none;  /* no need to include this when cutting+pasting */
}

.legend {
  font-size: 80%;
  -moz-user-select: none;  /* no need to include this when cutting+pasting */
}

.hidden {
  display: none;
}

.invalid {
  color: #fff;
  background-color: #f00;
}
