/* -*- Mode: Java; tab-width: 2; indent-tabs-mode: nil; c-basic-offset: 2 -*-
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* ::::: Feed Subscription styling :::::: */

#subscriptionsDialog {
  padding: 0px;
}

#contentPane {
  margin: 9px 8px 5px;
}

#subscriptionChildren::-moz-tree-image(folderNameCol) {
  list-style-image: url("chrome://messenger/skin/icons/folder-pane.png");
  -moz-image-region: rect(128px 16px 144px 0px);
}

#subscriptionChildren::-moz-tree-image(folderNameCol, container) {
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
  background-attachment: scroll;
  background-clip: border-box;
  -moz-background-inline-policy: continuous;
  -moz-background-origin: border;
  background-image: url("moz-icon://stock/gtk-directory?size=menu");
  list-style-image: url("chrome://messenger/skin/icons/folder-blank.png");

  -moz-margin-end: 2px;
}

#rssFeedInfoBox {
  border: 1px solid ThreeDShadow;
  border-radius: 0px;
  margin: 4px;
  padding: 0px;
}

#backgroundBox {
  background-color: #FFFFFF;
  opacity: 0.5;
}
